/*

things to know:
- pyde uses a div flex soup
- css is used to render syntax (comma separators, colons, identation, keywords,...)
- most classes here are utility classes used by the statement/expression constructors in the renderer

- if there is an easy way to include class styles in a css class (SASS inheritance), i will use it for semantic styling
(semantic classes are already used for AST tagging)

*/

/*.row {
	flex-direction: row;
	justify-items: center;
	align-items: center;
	gap: 5px;
}*/


/*
semantic css
works great for isolation of side effects, but very verbose */

/*.import */
/*.import > div:not(:first-child) {
	display: flex;
	flex-direction: row;
}*/
/*.import > div:not(:first-child):has(+ div)::after {
	content: ",";
}*/
/*.import > div {
	background-color: rgb(0, 100, 0);
}*/

/*.importfrom > div > div {
	display: flex;
	flex-direction: row;
}*/
/*.importfrom > div > div:has(+ div)::after {
	content: ",";
}*/




/* helpers */

/* TODO: use simpler utility classes */
.as-sep-no-gap > div:has(+ div)::after {
	content: "as";
}

.as-sep > div:has(+ div)::after {
	content: "as";
}
.as-sep > div:has(+ div) {
	flex-direction: row;
}
.as-sep, .as-sep > div:has(+ div) {
	gap: 5px;
}

/* surround function parameters with ( ) and inline them */
/* ", " separator between function parameters */





/* AST node styles */

/*.if {
}*/
.block {
	margin-left: 30px;
}
