/* base style unifier */
/* divsoup with tailwind-like utility classes */

div {
	display: flex;
	flex-direction: column;
}

.row {
	flex-direction: row;
	justify-items: center;
	align-items: center;
	gap: 5px;
}

/*.import */
.import > div:not(:first-child) {
	display: flex;
	flex-direction: row;
	/*gap: 5px;*/
}
.import > div:not(:first-child):has(+ div)::after {
	content: ", ";
}
/*.import * {
	display: flex;
}
.import > div {
	background-color: rgb(0, 100, 0);
}*/

.importfrom > div > div {
	display: flex;
	flex-direction: row;
}
.importfrom > div > div:has(+ div)::after {
	content: ", ";
}



/* AST node styles */

/*.if {
}*/
.block {
	margin-left: 30px;
}
